{{ template "layout.html" .}}

{{ define "title"}} thehub {{end}}

{{define "content"}}
<div class="flex flex-row flex-wrap justify-center">
  <div class="basis-full flex-none">
    <pre class="whitespace-pre text-center">
 ____   _  _                 _          _    _         _     
|  _ \ (_)| |               (_)        | |  | |       | |    
| |_) | _ | |_   ___   ___   _  _ __   | |__| | _   _ | |__  
|  _ < | || __| / __| / _ \ | || '_ \  |  __  || | | || '_ \ 
| |_) || || |_ | (__ | (_) || || | | | | |  | || |_| || |_) |
|____/ |_| \__| \___| \___/ |_||_| |_| |_|  |_| \__,_||_.__/ 
    </pre>
  </div>
</div>
<div class="min-h-[100%] p-4 flex flex-wrap gap-3 justify-center">
  {{range .}}
    <div class="flex-1 basis-1/4">
      {{template "terminal.html" .}}
    </div>
  {{end}}
</div>
{{end}}
